@import "consts";

.footer {
  background-color: $black;
  text-align: center;
  padding: 5%;

  p{
    font-family: $font;
    font-weight: bold;
    color: $white;
  }
}

.logo{
  margin: 5px 10px;
}
