@import 'layout.scss';
@import 'consts.scss';

@mixin section{
  height: 100vh;
  width: 100%;
  padding: 5% 10%;
  display: flex;
}

.section {
  @include section();
  align-items: center;

  &__title{
    background-color: $black;
    color: $white;
    font-size: 2em;
    flex-grow: 2;
    width: 40%;
    height: 80%;
    padding: 50px;
    font-family: $font;
  }

  &__paragraph{
    flex-grow: 1;
    padding: 50px 0 50px 100px;
    width: 60%;
    text-align: justify;
  }

  &:nth-child(odd)  {
    flex-direction: row-reverse;
  }

  &:nth-child(odd) &__paragraph{
    padding: 50px 100px 50px 0;
  }

  &:nth-child(odd) &__title{
    background-color: $blue;
  }

  &_welcome {
    @include section();
    height: 100vh - $header-width;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $font;
    background-image: url('../images/bg_1.png');

    &__title {
      font-weight: 900;
      font-size: 5em;
      margin: 0;
    }

    &__subtitle {
      font-weight: 800;
      font-size: 2em;
      margin: 0;

      span {
        color: $blue;
      }
    }

    &__btn {
      min-width: 80%;
      padding: 10% 12%;
      margin: 20px 0;
      white-space: nowrap;
      text-align: center;
      border: none;
      border-radius: 30px;
      background-color: $black;
      color: $white;
      font-family: $font;
      font-size: 1.1em;
      font-weight: 600;
      cursor: pointer;
      transition: background-color .5s ease-in-out;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $blue;
      }
    }
  }
}

@media only screen and (max-width: 800px){
  .section{
    flex-direction: column;

    &:nth-child(odd){
      flex-direction: column;
    }

    &:nth-child(n) &__title, &:nth-child(n) &__paragraph{
      width: 100%;
      padding: 0;
    }

    &:nth-child(n) &__title{
      width: 100%;
      height: 10%;
      padding-left: 20px;
      margin-bottom: 20px;
    }

    &:nth-child(n) &__paragraph{
      height: 90%;
    }
  }
}